extends layout

block content
    header
        h1 #{meme.name}
    main
        img(src=meme.url class="maly")
        br
        if user
            form(method="post") Ile według ciebie warty jest mem?
                br
                input(type="hidden" name="_csrf" value=csrfToken)  
                input(type="number" name='price')
                input(type="submit" value="Zmień cenę")
        a(href="/" class="powrot") Powrót do strony głównej
        br
        br
        table
            tr
                th Historia cen
                th Kto zmienił
            each price in prices
                tr
                    th #{price.price}
                    th #{price.user}
                    

